<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактор</title>
</head>
<body>
    {% include 'menu_edit.html' %}

    <p>Не сбрасывайте всё!</p>
    <div contentEditable="true" id="edit_text" style="white-space: pre"></div>

    <form id="main_form" method="post">
        {% csrf_token %}
        <textarea name="text" id="text" hidden>{{ text }}</textarea>
        <input name="save" hidden>
    </form>

    {% load static %}
    <script src="{% static 'js/txt/editTxt.js' %}"></script>
</body>
</html>