<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактор</title>
</head>
<body>
    {% load static %}
    {% include 'menu_edit.html' %}

    <script src="{% static 'js/txt/lib/codemirror.js' %}"></script>
    <link rel="stylesheet" href="{% static 'js/txt/lib/codemirror.css' %}">
    <script src="{% static 'js/txt/mode/python/python.js' %}"></script>
    <script src="{% static 'js/txt/mode/clike/clike.js' %}"></script>
    <div id="edit_text"></div>

    <form id="main_form" method="post">
        {% csrf_token %}
        <textarea name="text" id="text" hidden>{{ text }}</textarea>
        <input name="save" hidden>
    </form>

    <script src="{% static 'js/txt/editTxt.js' %}"></script>
</body>
</html>