<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'css/load_front.css' %}">
<head>
    <meta charset="UTF-8">
    <title>Load</title>
</head>
<body> <div class="cent_part">
    <div style="display: inline-block; width: 100%;">
    <h1 >Загрузка файлов</h1><img src="/static/favicon.ico" height="50"
    width="50" style="float:right; margin:-9% 2% 0 0">
    </div>
    <form method="post" enctype="multipart/form-data" class="post-form">
        {% csrf_token %}
        <div class="cont_box">{{ form.File.label }}: {{ form.File }}</div>
        <div class="cont_box">{{ form.Type.label }}: {{ form.Type }}</div>
        <input class="button" type="submit" value="Редактировать">
    </form>

    <p style="font-size: 10px">Внимание! Файл на сервере удаляется через 1 день после последнего изменения! Не забывайте скачивать файл после работы над ним!</p>
</div>

{% if error %}
<script>
    alert('Слишком большой файл')
</script>
{% endif %}
</body>
</html>