<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Load</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data" class="post-form">
        {% csrf_token %}
        {{ form.File.label }}: {{ form.File }} <br>
        {{ form.Type.label }}: {{ form.Type }} <br>
        <input type="submit" value="Отправить">
    </form>

    <p>Внимание! Файл на сервере удаляется через 1 день после последнего изменения! Не забывайте скачивать файл после работы над ним!</p>
</body>
</html>