<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<main>
    <h2>Для чего нужно наше приложение?</h2>
    <p>Данное приложение нужно для того, чтобы конверировать файл из одного формата в другой.</p>
    <a href="txt/editTxt.html">Редактор</a>
    <a href="load.html">Скачать</a>
    <h2>Также, вы сами можете установить себе это приложение.</h2>
    <h3>Инструкция:</h3>
    <p></p>
</main>
<footer>
    Создатель: команда p++
</footer>
</body>
</html>
