 {% load static %}
 <link rel="stylesheet" href="{% static 'css/menu_edit.css' %}">

<table style="display:inline-block;">
    <tr>
        <img src="/static/favicon.ico" height="40" onclick="window.open('/', '_self')" width="40">
        <td><button id="download">Скачать</button></td>
        <td><button id="save">Сохранить</button></td>
        <td><button id="load">Загрузить другой файл</button></td>
        <td><button id="transform">Преобразовать</button></td>
        <td><button id="new_file">Новый файл</button></td>
    </tr>
</table>
{% load static %}
<script src="{% static 'js/menu_edit.js' %}"></script>
<br>