<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Преобразование</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'css/transform.css' %}">
</head>
<body>
<div class="cent_part">
    <div style="display: inline-block; width: 100%;">
    <h1 >Преобразование</h1><img src="/static/favicon.ico" height="50"
    width="50" style="float:right; margin:-9% 2% 0 0">
</div>
    {% if ok %}
    <p>Преобразовать файл из:<p style="font-weight: bold; margin: 0 0 10px 20px">{{ from }}</p>
    <p>В:</p>
    <select style="font-weight: bold; margin: 0 0 10px 20px;" id="why">
        {% for i in types %}
        <option value="{{ i.where }}">{{ i.name }}</option>
        {% endfor %}
    </select>

    <form method="post">
        {% csrf_token %}
        <p>Опции:</p><div id="option"></div>
        <div style="display: inline-block">
            <div style="float: right"><input class="i_button" type="submit" value="Преобразовать" id="button1"></div>
            <div style="float: left"><input class="i_button" type="submit" value="Сохранить" id="button2"></div>
            <input id="type_" hidden>
            <input type="text" id="output" name="why" hidden>
        </div>
    </form>
    <br>
    {% for i in types %}
    <div id="DIV{{ i.where }}" hidden>{{ i.html }}</div>
    {% endfor %}

    <script src="{% static 'js/transform.js' %}"></script>

    {% else %}
    <h1>К сожалению, Вы не можете преобразовать</h1>
    {% endif %}
    <button style="font-size: 12px" onclick="window.open('/edit', '_self')">Вернуться в редактор</button>
</div>
</body>
</html>