<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Преобразование</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'css/transform.css' %}">
</head>
<body>
<div class="cent_part">
    <div style="display: inline-block; width: 100%;">
    <h1 >Преобразование</h1><img src="/static/favicon.ico" height="50"
    width="50" style="float:right; margin:-9% 2% 0 0">
</div>
    {% if ok %}
    <p>Преобразовать файл из:<p style="font-weight: bold; margin: 0 0 10px 20px">{{ from }}</p>
    <p>В:</p>
    <select style="font-weight: bold; margin: 0 0 10px 20px;" id="why">
        {% for i in types %}
        <option value="{{ i.where }}">{{ i.name }}</option>
        {% endfor %}
    </select>

    <div id="option"><p>Опции:</p></div>
    <div style="display: inline-block">
    <form style="float: right" method="post" id="form1">
            {% csrf_token %}
            <input class="i_button" type="submit" value="Преобразовать">
            <input name="go" hidden>
            <input type="text" id="output1" name="why" hidden>
    </form>
    <form style="float: left" method="post" id="form2">
            {% csrf_token %}
            <input class="i_button" type="submit" value="Сохранить">
            <input name="save" hidden>
            <input type="text" id="output2" name="why" hidden>
    </form>
</div>
    <br>
    {% for i in types %}
    <div id="DIV{{ i.where }}" hidden>{{ i.html }}</div>
    {% endfor %}

    <script src="{% static 'js/transform.js' %}"></script>

    {% else %}
    <h1>К сожалению, Вы не можете преобразовать</h1>
    {% endif %}
    <button style="font-size: 12px" onclick="window.open('/edit', '_self')">Вернуться в редактор</button>
</div>
</body>
</html>